replicaCount: 1

image:
  repository: ghcr.io/pokt-network/sam
  tag: ""  # defaults to chart appVersion
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

service:
  type: ClusterIP
  port: 9999

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: sam.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

persistence:
  enabled: true
  size: 100Mi
  storageClass: ""
  accessModes:
    - ReadWriteOnce

nodeSelector: {}
tolerations: []
affinity: {}

env:
  PORT: "9999"

config:
  keyring-backend: test
  thresholds:
    warning_threshold: 2000000000
    danger_threshold: 1000000000
  networks:
    pocket:
      rpc_endpoint: https://sauron-rpc.infra.pocket.network/
      api_endpoint: https://sauron-api.infra.pocket.network/
      gateways: []
      bank: ""
      applications: []
