apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sam.fullname" . }}-config
  labels:
    {{- include "sam.labels" . | nindent 4 }}
data:
  config.yaml: |
    config:
      {{- .Values.config | toYaml | nindent 6 }}
